[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SoilTaxonomy"]
	path = SoilTaxonomy
	url = https://github.com/ncss-tech/soiltaxonomy
[submodule "aqp"]
	path = aqp
	url = https://github.com/ncss-tech/aqp
[submodule "sharpshootR"]
	path = sharpshootR
	url = https://github.com/ncss-tech/sharpshootr
[submodule "soilDB"]
	path = soilDB
	url = https://github.com/ncss-tech/soildb
